<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Redux</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">
     <link rel="stylesheet" href="/assets/css/style.css">
  <body>
    <div id="app">
         <%- reactComponent -%>
    </div>
    <script>
      window.INITIAL_STATE=<%- initialState -%>
    </script>
    <script type="text/javascript" src="/assets/js/bundle.js">

    </script>
  </body>
</html>
